<section class="about-section">
  <!-- Left side (Text Section) -->
  <div class="about-text">
    <h2>About Me</h2>
    <p>
      I am a dedicated Computer Science student passionate about coding, problem-solving, and building modern web applications. I am constantly learning new technologies.
    </p>
   
  </div>
  <section class="contact-section">
    <h2>Contact Me</h2>
    <p>If you’d like to get in touch with me, feel free to send me an email or check out my social media links!</p>
    <ul>
      <li>Email: hourrabu@gmail.com</li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/hour-emad-000a24371" target="_blank">Hourein Emad</a></li>
      <li>GitHub: <a href="https://github.com/houremad1" target="_blank">hourein-emad</a></li>
    </ul>
  </section>

</section>
