<section class="skills-section">
  <h3>Skills</h3>
  <div class="skills-container">
    <div class="skill">
      <span class="badge">Angular</span>
    </div>
    <div class="skill">
      <span class="badge">TypeScript</span>
    </div>
    <div class="skill">
      <span class="badge">Python</span>
    </div>
    <div class="skill">
      <span class="badge">HTML</span>
    </div>
    <div class="skill">
      <span class="badge">CSS</span>
    </div>
    <div class="skill">
      <span class="badge">Git</span>
    </div>
  </div>
</section>

